.contacto-seccion {
  padding: 100px 20px;
  color: var(--text-main);
  text-align: center;
}

.contenedor-contacto {
  max-width: 800px;
  margin: 0 auto;
}

.texto-contacto {
  color: var(--text-muted);
  font-size: 1.1rem;
  margin-bottom: 3rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.contacto-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.card-info {
  background: var(--bg-card);
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  gap: 15px;
  transition: transform 0.3s, border-color 0.3s;
  text-decoration: none;
  color: inherit;
  min-width: 250px;
}

.card-info:hover {
  transform: translateY(-5px);
  border-color: var(--primary);
}

.icono-contacto {
  font-size: 1.8rem;
  color: var(--primary);
}

.info-texto h4 {
  font-size: 0.9rem;
  color: var(--text-muted);
  margin-bottom: 5px;
}

.info-texto span {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}


.footer-copy {
  margin-top: 5rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(255,255,255,0.05);
  color: var(--text-muted);
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  
  .contacto-seccion {
   padding-top: 100px;;
  }

  .texto-contacto {
    text-align: center;
    padding: 0 10px;
  }


  .contacto-cards {
    flex-direction: column; 
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .card-info {
    width: 100%; 
    min-width: 0; 
    justify-content: flex-start;
    padding: 15px;
  }

  .info-texto span {
    font-size: 0.9rem; 
    word-break: break-all; 
  }

  .footer-copy {
    margin-top: 3rem;
    padding-top: 1.5rem;
  }
}