.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--nav-bg);
  backdrop-filter: blur(10px); 
  border-bottom: 1px solid rgba(255,255,255,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 1000;
}


.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px; 
}

.logo span {
  color: var(--primary);
  font-weight: 800;
  font-size: 1.8rem; 
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: var(--text-muted);
  font-weight: 500;
  transition: color 0.3s;
  font-size: 0.95rem;
}

.nav-link:hover { color: var(--primary); }

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-main);
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger { display: block; }

  .navbar{
    padding: 0 1rem;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--bg-body);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.3s ease;
    border-bottom: 1px solid rgba(255,255,255,0.05);
  }

  .nav-menu.activo { height: 300px; }
  .nav-link { font-size: 1.2rem; }
}

