.skills-seccion {
  padding: 60px 20px;
   background-color: var(--bg-card); 
  text-align: center;
}

.contenedor-skills {
  max-width: 1000px;
  margin: 0 auto;
}

.titulo-skills {
  font-size: 2.5rem; 
  font-weight: 700;  
  text-align: center;
  margin-bottom: 3rem;
  color: #fff;       
}
.titulo-skills span {
  color: #fff; 
  border-bottom: 4px solid var(--primary); 
  padding-bottom: 10px; 
}

.grid-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card-skill {
  background: var(--bg-card);
  border: 1px solid rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 12px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s, border-color 0.3s;
}

.card-skill:hover {
  transform: translateY(-5px);
  border-color: var(--primary);
  box-shadow: 0 5px 15px rgba(59, 130, 246, 0.2);
}

.icono-skill {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.card-skill span {
  font-size: 0.9rem;
  color: var(--text-muted);
}


@media (max-width: 768px) {
  
  .skills-seccion {
    padding: 40px 15px; 
  }

  .titulo-skills {
    font-size: 2rem; 
    margin-bottom: 2rem;
  }

  .grid-skills {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 1rem; 
  }

  .card-skill {
    width: 100%; 
    padding: 15px 5px;
  }

  .icono-skill {
    font-size: 2rem; 
  }
  
  .card-skill span {
    font-size: 0.8rem; 
  }
}